<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weapp.mapper.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.example.weapp.bean.OrderInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="orderinfo_id" jdbcType="VARCHAR" property="orderinfo_id"/>
        <result column="orderinfo_gid" jdbcType="VARCHAR" property="orderinfo_gid"/>
        <result column="orderinfo_oid" jdbcType="VARCHAR" property="orderinfo_oid"/>
        <result column="orderinfo_price" jdbcType="DOUBLE" property="orderinfo_price"/>
        <result column="orderinfo_count" jdbcType="INTEGER" property="orderinfo_count"/>
        <result column="orderinfo_name" jdbcType="VARCHAR" property="orderinfo_name"/>
    </resultMap>

    <select id="getOrderInfoList" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from `orderinfo`
        where orderinfo_oid = #{orderinfo_oid};
    </select>
</mapper>