<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weapp.mapper.SysGoodMapper">
    <resultMap id="BaseResultMap" type="com.example.weapp.bean.SysMenu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
    </resultMap>


        <insert id="insertGoodList" parameterType="com.example.weapp.bean.SysGood">
        insert into sys_good(id,name,price,stock,descripe,imgPath)
        values(#{id},#{name},#{price},#{stock},#{descripe},#{imgPath})
       </insert>
<!--    <update id="resioveGoodList" parameterType="com.example.weapp.bean.SysGood">-->
<!--        update sys_good-->
<!--        set-->
<!--            name=#{name},-->
<!--            price=#{price},-->
<!--            stock=#{stock},-->
<!--            descripe=#{descripe},-->
<!--            imgPath=#{imgPath}-->
<!--        where id = #{id}-->
<!--    </update>-->
    <select id="resioveGoodList" parameterType="com.example.weapp.bean.SysGood" resultMap="BaseResultMap">
    update sys_good
    set
    name=#{name},
    price=#{price},
    stock=#{stock},
    descripe=#{descripe},
    imgPath=#{imgPath}
    where id = #{id}
    </select>
    <delete id="delectGoodList" parameterType="com.example.weapp.bean.SysGood">
        delete
        from sys_good
        where id=#{id}
    </delete>
    <select id="findByGoodName" resultType="com.example.weapp.bean.SysGood">
        select*
        from sys_good
    </select>
    <select id="selByGoodName" resultType="com.example.weapp.bean.SysGood">
        select *
        from sys_good
        where name like concat('%',#{name},'%')
    </select>


</mapper>