<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weapp.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.weapp.bean.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="password" jdbcType="VARCHAR" property="password"></result>
        <result column="gender" jdbcType="VARCHAR" property="gender"></result>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"></result>
        <result column="last_login_time" jdbcType="VARCHAR" property="lastLoginTime"></result>
        <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp"></result>
        <result column="user_level" jdbcType="VARCHAR" property="userLevel"></result>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"></result>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"></result>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"></result>
        <result column="weixin_openid" jdbcType="VARCHAR" property="wechatOpenid"></result>
        <result column="status" jdbcType="VARCHAR" property="status"></result>
        <result column="session_key" jdbcType="VARCHAR" property="sessionKey"></result>
        <result column="deleted" jdbcType="VARCHAR" property="deleted"></result>
    </resultMap>
<!--    修改用户信息-->
    <update id="changeUser" parameterType="com.example.weapp.bean.User">
        update user set id=#{id},password=#{password},gender=#{gender},birthday=#{birthday},last_login_time=#{lastLoginTime},
                        last_login_ip=#{lastLoginIp},user_level=#{userLevel},nickname=#{nickname},mobile=#{mobile},avatar=#{avatar},
                        weixin_openid=#{wechatOpenid},status=#{status},session_key=#{sessionKey},deleted=#{deleted}
        where id=#{id}
    </update>
<!--    删除用户-->
    <delete id="deleteUser" parameterType="java.lang.String">
        update set user deleted=1
        where id=#{id}
    </delete>
<!--    查询所有用户-->
    <select id="findAllUsers" resultMap="BaseResultMap">
      select *
      from user
    </select>
<!--    定义根据用户获取id-->
    <select id="findUserById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select *
        from user
        where weixin_openid=#{openid}
    </select>
<!--搜索查询用户-->
    <select id="findUserBySearch" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from user
            where nickname like concat('%',#{userName},'%')
    </select>

<!--    微信小程序接口-->
<!--    通过openid查找用户-->
    <select id="findUserByOpenid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from user
        where weixin_openid=#{openid}
    </select>

    <!--    数据库里注册用户-->
    <insert id="registerUser" parameterType="java.lang.String">
        insert into user
        (id,password,gender,birthday,last_login_time,last_login_ip,user_level,nickname,mobile,avatar,weixin_openid,session_key,status,deleted)
        values (#{id},#{password},#{gender},#{birthday},#{lastLoginTime},#{lastLoginIp},#{userLevel},#{nickname},#{mobile},#{avatar},#{wechatOpenid},#{sessionKey},#{status},#{deleted})
    </insert>
</mapper>