<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.weapp.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.weapp.bean.User">
        <id column="user_id" jdbcType="BIGINT" property="userID"/>
        <result column="user_nick" jdbcType="VARCHAR" property="userNick"></result>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"></result>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhoneNumber"></result>
        <result column="user_address" jdbcType="VARCHAR" property="userAddress"></result>
    </resultMap>
    <select id="findAllUsers" resultMap="BaseResultMap">
      select *
      from user
    </select>
</mapper>